  <h1>Admin Panel</h1>
  <h3>you are <%= current_user.email %> </h3>
  <ul>
    <% @users.each do |user| %>
  <li>
      <%= user.email %>
      <%= user.roles.pluck(:name) %>
      <%= link_to "Edit", edit_admin_path(user) %> 
      <%= link_to "Destroy", admin_path(user), data: {
          method: :delete,
          confirm: "Are you sure?"} %>
  </li>
  <% end %>
  </ul>
  <%= link_to "Add Vendor",  new_admin_path %>
  <%= link_to "Edit Info", edit_user_registration_path %>
  <%= link_to "Sign out", destroy_user_session_path,:method => 'delete', data: {confirm: 'Are you sure?'} %>