<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p> 
      <strong>Image:</strong>
  <br>
    <%= image_tag(@product.image, style:'width:30%') %>
   </p>


<%= link_to 'Edit',  edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
